/* This is the CSS of the Nostalgia Project website's homepage */
body {
  text-shadow: 0px 1px 0px white;
  height: 100%;
  padding: 10px;
  padding-top: 50px;
  margin: auto;
  width: 65%;
  background-color: #ebebeb;
  color: #333333;
  text-decoration: none;
  font-family: Sans-Serif;
  box-shadow: 0px 0px 50px 25px black;
}

html{
  background-color: #202020;
}