/* the body, borders, shadow and buttons */
body {
    background: #daf3fd;
    min-height: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", verdana, arial, sans-serif;
    font-size: .83em;
    color: #333333;
    position: relative;
}
#BodyContainer {
    position: relative;
    min-height: 100%;
    width: 962px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #FFFFFF;
}
.borders {
    background: linear-gradient(to bottom, #daf3fd, #afe2fa 75%);
    margin: 0 210px 0 210px;
}
.shadow {
    filter: drop-shadow(0px 70px 3px #00000025);
}
button {
    appearance: none;
    border: none;
}




/* main header */
.header-gradient {
    background: url('n09/resources/gradient.png') repeat-x scroll 0 -16px;
    height: 130px;
    position: absolute;
    z-index: 0;
    height: 130px;
    width: 100%;
}
.header-bg {
    background: url('n09/resources/background.png') no-repeat scroll 0 -520px;
    width: 600px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    height: 130px;
    width: 600px;
    margin: 0px 171px;
}



/* the top links */
.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin: 5px 0px;
    position: relative;
    right: -815px;
}
.links .spacer-top-links {
    width: auto;
}
.country {
    font-weight: bold;
    margin: 0 5px 0 0;
}



/* central header */
.branding {
    position: absolute;
    left: 10px;
}
#BingChilling {
    position: absolute;
    right: 435px;
}



/* navigation links */
.navigation {
    font-size: 12.5pt;
    display: flex;
    margin: 50px 0 0 17px;
    position: absolute;
}
.spacer-bottom-links {
    margin: 0 0 0 25px;
}
.navigation a.selected {
    color: black;
}
.navigation a {
    text-decoration: none;
    color: #2775df;
}
.navigation a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: #0069af;
}
.navigation a.selected:hover {
    color: #0069af;
    text-decoration: none;
}




/* main content */
.actual-main-content {
    margin: 135px 10px 0 10px;
    background-color: white;
}
.banner {
    height: 248px;
    width: 839px;
    background: url("n09/resources/beautyfox_banner.png");
    position: relative;
    left: 45px;
}
.banner p {
    font-weight: bold;
    color: white;
    font-size: 22pt;
    width: 300px;
    text-align: start;
    position: relative;
    top: 50px;
    left: 25px;
}
.banner button {
    background-color: #0066cc;
    color: white;
    border: 1px white double;
    padding: 5px 10px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}
.banner button:hover {
    background-color: color-mix(in srgb, #0066cc, white 25%);
    cursor: pointer;
}
.banner button:active {
    background-color: color-mix(in srgb, #0066cc, black 25%);
    cursor: pointer;
}
