/* the body and links */
body {
    background: #daf3fd;
    min-height: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", verdana, arial, sans-serif;
    font-size: .83em;
    color: #333333;
}
#BodyContainer {
    position: relative;
    min-height: 100%;
    width: 942px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    z-index: 0;
    background-color: #FFFFFF;
    margin-top: -5px;
}
a {
    text-decoration:  none;
}



/* main header */
.header-gradient {
    background: url('resources/gradient.png') repeat-x scroll 0 -16px;
    height: 130px;
    position: absolute;
    z-index: -1;
    height: 130px;
    width: 100%;
}
.header-bg {
    background: url('resources/background.png') no-repeat scroll 0 -520px;
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin: 0px 171px;
}



/* the top links */
.links {
    width: 370px;
    margin-left: auto;
    margin-right: 10px;
    padding-top: 10px;
    z-index: 1;
    text-align: right;
}
.links span {
    padding: 0 5px;
}
.country {
    display: inline-block;
    font-weight: bold;
    margin: 0 7px 0 0;
}



/* central header */
.branding {
    position: relative;
    left: 13px;
    top: 15px;
}
#BingChilling {
    position: relative;
    left: 300px;
    top: -15px;
}
.searchbar {
    background: white no-repeat url("resources/BINGchilling.png"); 
    background-position: 90% 100%;
    appearance: none;
    border: 1px black solid;
    width: 300px;
    padding: 6px;
    color: #515151;
    font-style: italic;
    font-size: 8.5pt;
}
.searchbarbutton {
    appearance: none;
    border: none;
    background: no-repeat url("resources/searchbarbutton.png");
    width: 20px;
    height: 20px; 
    position: absolute;
    margin: 3px 0 0 -23px;
}



/* navigation links */
.navigation {
    font-size: 12pt;
    display: flex;
    margin: 0px 0 0 18px;
    position: relative;
}
.navigation a {
    margin: 0 25px 0 0;
}
.navigation a.selected {
    color: black;
}
.navigation a {
    text-decoration: none;
    color: #2775df;
}
.navigation a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: #0069af;
}
.navigation a.selected:hover {
    color: #0069af;
    text-decoration: none;
}




/* main content */
#MainContent {
    margin: 45px 0 0 50px !important;
    background-color: white;
}

/* banner */
#Banner {
    height: 248px;
    width: 839px;
    background: url("resources/beautyfox_banner.png");

}
#Banner p {
    font-weight: bold;
    color: white;
    font-size: 22pt;
    width: 300px;
    text-align: start;
    position: relative;
    top: 50px;
    left: 15px;
}
#Banner a {
    background-color: #0066cc;
    color: white;
    border: 1px color-mix(in srgb, white, transparent 45%) double;
    padding: 3px 12px;
    position: relative;
    left: 33px;
    bottom: -35px;
    text-decoration: none;
}
#Banner a:hover {
    background-color: color-mix(in srgb, #0066cc, white 25%);
    cursor: pointer;
}
#Banner a:active {
    background-color: color-mix(in srgb, #0066cc, black 25%);
    cursor: pointer;
}

/* the thingy uhhh h2 tags yayayayaya */
#MainContent h2 {
    color: #404570;
    font-weight: normal;
}
#MainContent li {
    margin: 0 0 16px -12px;
}



/* fake NEWS!!! */
#Latest a:hover {
    text-decoration: underline;
}


/* Featured Downloads NO DOWNLOADSD !!!! SIGMA AEROS ONLYYYY!!!! */
#SmolContainer {
    position: relative
}
#SmolContainer a:hover {
    text-decoration: underline;
}
